<div class="h-screen bg-gray-200">
    <div class="p-8 text-xl flex justify-center pt-8">
        Token Dashboard
    </div>
    <div class="max-w-6xl h-90 lg:mx-auto md:mx-8 sm:mx-8">
        <div class="grid justify-center gap-3 lg:grid-cols-4  md:grid-cols-3 sm: grid-cols-1">
            <div class="h-40 bg-white rounded-xl">
                <div class="pt-5">
                    <div class="flex justify-center">
                        <img src="https://assets.coingecko.com/coins/images/10366/small/SLP.png?1578640057">
                    </div>

                    <p class="text-center">Smooth Love Potion</p>
                </div>

                <div class="pt-1">
                    <p class="text-3xl text-center">3.50</p>
                </div>
            </div>
            <div class="h-40 bg-white rounded-xl"></div>
            <div class="h-40 bg-white rounded-xl"></div>
            <div class="h-40 bg-white rounded-xl"></div>
            <div class="h-40 bg-white rounded-xl"></div>
        </div>
    </div>
</div>