<div class="h-screen bg-gray-200">
    <div class="p-8 text-xl flex justify-center pt-8">
        Token Dashboard
    </div>
    <div class="max-w-6xl h-90 lg:mx-auto md:mx-8 sm:mx-8">
        <div class="grid justify-center gap-3 grid-cols-2 mx-5 lg:grid-cols-4  md:grid-cols-3">
            <ng-container *ngFor="let tokenDetail of tokenCurrentDetails">
                <app-token-card [image]="tokenDetail.image" [overlineText]="tokenDetail.name"
                    headlineText="{{tokenDetail.currentPrice}}">
                </app-token-card>
            </ng-container>
            <app-token-card image="" overlineText="Add your favorite token to </br> dashboard soon!" headlineText="">
            </app-token-card>
        </div>
    </div>
</div>